<div class="sidebar">
   
    <div>
        <h3>Availability</h3>
        <form method="get" action="" id="sidebarForm">
            <div id="s1" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="s1">In Stock</div>
            <div id="s2" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="s2">Pre Order</div>
            <div id="s3" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="s3">Up Coming</div>
        </form>
    </div>      
    <div>
        <h3>Processor</h3>
        <form action="">
            <div id="p0" class="sidebarBtns processorBtns"><input class="processors" value="p1" name="processor" type="checkbox">Intel</div>
            <div id="p1" class="sidebarBtns processorBtns"><input class="processors" value="p2" name="processor" type="checkbox">AMD</div>
        </form>
    </div>
   

    <div>
        <h3>RAM</h3>
        
            <form>
                <div id="r1" class="sidebarBtns ramBtns"><input name="ram" value="r1" type="checkbox">4 GB</div>
                <div id="r2" class="sidebarBtns ramBtns"><input name="ram" value="r2" type="checkbox">8 GB</div>
                <div id="r3" class="sidebarBtns ramBtns"><input name="ram" value="r3" type="checkbox">16 GB</div>

            </form>  

    </div>
    <div>
        <h3>SSD</h3>
            <form>
                <div id="ss1" class="sidebarBtns ssdBtns"><input name="ssd" value="ss1" type="checkbox">Up to 128GB</div>
                <div id="ss2" class="sidebarBtns ssdBtns"><input name="ssd" value="ss2" type="checkbox">Up to 256GB</div>
                <div id="ss3" class="sidebarBtns ssdBtns"><input name="ssd" value="ss3" type="checkbox">Up to 512GB</div>
                <div id="ss4" class="sidebarBtns ssdBtns"><input name="ssd" value="ss4" type="checkbox">Up to 1TB & Above</div>
                
            </form>
    </div>


    <div>
    <h3>Graphics</h3>
            <form>
                <div id="g1" class="sidebarBtns graphicsBtns"><input value="g1" name="graphics" type="checkbox">Shared / Integrated</div>
                <div id="g2" class="sidebarBtns graphicsBtns"><input value="g2" name="graphics" type="checkbox">Dedicated 2GB</div>
                <div id="g3" class="sidebarBtns graphicsBtns"><input value="g3" name="graphics" type="checkbox">Dedicated 4GB</div>
                <div id="g4" class="sidebarBtns graphicsBtns"><input value="g4" name="graphics" type="checkbox">Dedicated 6GB</div>
                <div id="g5" class="sidebarBtns graphicsBtns"><input value="g5" name="graphics" type="checkbox">Dedicated 8GB</div>
                <div id="g6" class="sidebarBtns graphicsBtns"><input value="g6" name="graphics" type="checkbox">Dedicated 12GB</div>
                <div id="g7" class="sidebarBtns graphicsBtns"><input value="g7" name="graphics" type="checkbox">Dedicated 16GB</div>
                <div id="g8" class="sidebarBtns graphicsBtns"><input value="g8" name="graphics" type="checkbox">Dedicated 24GB</div>
                
            </form>

    </div>

</div>