{% load static %}
<style>
    .footer{
        background-color: rgb(0, 255, 217);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footerInside{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footerInside ol{
        width: auto;
        list-style: none;
        display: flex;
        flex-direction: row;
        
    }
    .footerInside ol a{
        margin: 15px;
        text-decoration: none;
        font-size: 19px;
        color: black;
    }
    .backToTop{
        width: 130px;
        border: 1px solid rgb(122, 122, 122);
        display: flex;
        border-radius: 20px;
        padding: 10px 15px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
    }
</style>
<div class="footer">
    <div class="footerInside">
        <ol>
            <li>&copy; 2023 All rights reserved</li>
        </ol>
        <h2>Follow us on</h2>
        <ol>
           
            <a href="https://www.facebook.com/introvert.boy.33/"><img src="{% static 'images/facebook.png' %}"></a>
            <a href="https://www.instagram.com/lonely.ashes490/"><img src="{% static 'images/instagram.png' %}"></a>
            <a href=""><img src="{% static 'images/youtube.png' %}"></a>

        </ol>
        <ol>
            <li><a href="#top"><button class="backToTop"><img src="{% static 'images/upload.png' %}"> Back to top</button></a></li>
        </ol>
    </div>
</div>