{% load static %}
<style>
    .headerNavbar {
        width: 100%;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 255, 217);
        height: 85px;
    }

    .logoContainer {
        display: flex;
        justify-content: flex-start;
    }

    .headerInside {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    h2.logoName {
        color: black;
    }

    .searchBar {
        border-radius: 7px;
        width: 450px;
        height: 45px;
        background-color: white;
        display: flex;
        flex-direction: row;
    }

    .searchBar form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchBar input[type='text'] {
        border-radius: 7px;
        border: none;
        outline: none;
        padding: 10px;
        height: 100%;
        font-weight: 500;
        width: 90%;
    }

    .searchBar button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .searchBar button img {
        height: 30px;

    }

    .header-btns {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

    }

    .header-btns p.f1 {
        margin: 3px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 17px;
    }

    .header-btns-1 {
        padding: 10px;
    }

    .header-btns-1 i {
        font-size: 22px;
        color: black;
    }

    .header-btns-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header-btns p.f2 {
        margin: 3px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    .pcBuilder-btn {
        padding: 5px 15px;
        height: 35px;
        font-weight: 600;
        font-size: 17px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        outline: none;
        font-family: 'Poppins', sans-serif;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    .navbarInside {
        width: 1200px;

    }

    .navElementsContainer {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        height: 40px;
    }

    .navElementsContainer a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    .cartBox {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgb(0, 0, 0);
        color: black;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        font-weight: 600;
        border-radius: 7px;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .cartBox:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .cartBox img {
        height: 50%;
    }



    /* CSS */
    .button-87 {
        margin: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 7px;
        display: block;
        border: 0px;
        font-weight: 600;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-87:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    .button-87:active {
        transform: scale(0.95);
    }

    .pcBuilderBtnsContainer a {
        text-decoration: none;
    }

    .cart-box-container a {
        position: fixed;
    }

    .headerInsideMobile {
        display: none;
    }
    .pc-builder-hidden {
        display: none;
    }

    @media screen and (max-width: 1200px) {
        .searchBar {
            display: none;
            position: fixed;
            top: 50px;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        }

        .headerInside {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(0, 255, 217);
        }

        .header-btns {
            flex-direction: column;
            padding: 5px;
        }

        .header-btns-1 {
            padding: 0;
        }

        .header-btns-1 i {
            font-size: 16px;
            color: black;
        }

        .header-btns h3 {
            margin: 0;
            font-size: 13px;
        }

        .header-btns p.f1 {
            margin: 0;
            font-size: 14px;
        }

        .header-btns-2 p:last-child {
            display: none;
        }

        .logoContainer {
            display: none;
        }

        .cart-box-container {
            display: none;
        }

        .headerInsideMobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 10px;
        }

        .ham-btn {
            background-color: transparent;
            font-size: 22px;
            border: none;
            cursor: pointer;
            color: black;
        }

        .search-toggle-btn,
        .cart-go-to-button {
            background-color: transparent;
            font-size: 22px;
            border: none;
            cursor: pointer;
            color: black;
        }

        .header {
            height: 50px;
        }

        .navbar {
            height: auto;
            position: fixed;
            top: 50px;
            background-color: white;
            width: 250px;
            left: -250px;
            transition: left 0.2s ease-in-out;
        }

        .header {
            position: fixed;
            top: 0;
        }

        .navElementsContainer {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style-type: none;
            height: auto;



        }

        .navElementsContainer a {
            padding: 10px 10px;
            border-bottom: 1px solid rgb(182, 178, 178);
            width: 100%;
            font-weight: 500;
        }

        .navElementsContainer a:hover {
            background-color: rgb(255, 0, 0);
            color: white;
        }

        .pcBuilder-btn {
            display: none;
        }
        .pc-builder-hidden{
            display: block;
        }

    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="headerNavbar">
    <div class="header">



        <div class="headerInsideMobile">
            <div class="hamContainer">
                <button class="ham-btn"><i class="fa-solid fa-bars"></i></button>
            </div>

            <div class="logoContainerMobile">
                <a style="text-decoration: none;" href="{% url 'home' %}">
                    <h2 class="logoName">Quantum Tech</h2>
                </a>
            </div>

            <div class="search-cart-container">
                <button class="search-toggle-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href=""><button class="cart-go-to-button"><i class="fa-solid fa-cart-shopping"></i></button></a>
            </div>

        </div>

        <div class="headerInside">
            <div class="logoContainer">
                <a style="text-decoration: none;" href="{% url 'home' %}">
                    <h2 class="logoName">Quantum Tech</h2>
                </a>
            </div>
            <div class="searchBar">
                <form method="GET" action="search">
                    <input type="text" name="search" placeholder="Search" required autocomplete="off">
                    <button><img src="{% static 'images/search.png' %}" alt="error"></button>
                </form>
            </div>
            <div class="desktopDeals">
                <button class="header-btns">
                    <div class="header-btns-1"><i class="fa-solid fa-envelope"></i></div>
                    <div class="header-btns-2">
                        <p class="f1">Offers</p>
                        <p class="f2">Latest offers</p>
                    </div>
                </button>
            </div>
            <div class="account">
                {% if request.user.is_authenticated %}
                <h4 style="margin: 5px 0 0 0;">Welcome {{request.user}}</h4>
                <a href="{% url 'logout' %}">
                    <h4 style="margin: 10px 0 0 0;">Logout</h4>
                </a>
                {% else %}
                <a href="{% url 'signIn' %}">
                    <button class="header-btns">
                        <div class="header-btns-1">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="header-btns-2">
                            <p class="f1">Account</p>
                            <p class="f2">Register or Login</p>
                        </div>
                    </button>
                </a>
                {% endif %}
            </div>
            <div class="pcBuilderBtnsContainer">
                <a href="{% url 'pcBuilder' %}"><button class="pcBuilder-btn button-87">PC Builder</button></a>
                <a class="pc-builder-hidden" href="{% url 'pcBuilder' %}"><button class="header-btns">
                        <div class="header-btns-1">
                            <i class="fa-solid fa-desktop"></i>
                        </div>
                        <div class="header-btns-2">
                            <p class="f1">PC builder</p>
                            <p class="f2">Build a PC</p>
                        </div>
                    </button></a>
            </div>

            <div class="cart-box-container">
                <a href="{% url 'cartPage' %}">
                    <div class="cartBox">
                        <img src="{% static 'images/cart.png' %}" alt="error"><sup><sup><sup><sup><span
                                            id="cartCount"></span></sup></sup></sup></sup>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="navbar">
        <div class="navbarInside">
            <ol class="navElementsContainer">
                <a href="{% url 'productPage' type='desktop' %}">
                    <li>Desktop</li>
                </a>
                <a href="{% url 'productPage' type='laptop' %}">
                    <li>Laptop</li>
                </a>
                <a href="{% url 'productPage' type='component' %}">
                    <li>Component</li>
                </a>
                <a href="{% url 'productPage' type='monitor' %}">
                    <li>Monitor</li>
                </a>
                <a href="{% url 'productPage' type='ups' %}">
                    <li>UPS</li>
                </a>
                <a href="{% url 'productPage' type='tablet' %}">
                    <li>Tablet</li>
                </a>
                <a href="{% url 'productPage' type='camera' %}">
                    <li>Camera</li>
                </a>
                <a href="{% url 'productPage' type='security' %}">
                    <li>Security</li>
                </a>
                <a href="{% url 'productPage' type='networking' %}">
                    <li>Networking</li>
                </a>
                <a href="{% url 'productPage' type='software' %}">
                    <li>Software</li>
                </a>
                <a href="{% url 'productPage' type='accessories' %}">
                    <li>Accessories</li>
                </a>

            </ol>
        </div>
    </div>
</div>




<script type="text/javascript" src="{% static 'js/setDeviceInfo.js' %}"></script>
<script type="text/javascript">
    xhr = new XMLHttpRequest()
    xhr.open('GET', '/getCartCount', true)
    xhr.onload = function () {
        var cartCount = this.responseText
        cartCount = JSON.parse(cartCount)['cartCount']

        document.getElementById('cartCount').innerHTML = cartCount
    }
    xhr.send()

    const hamBtn = document.querySelector('.ham-btn')

    hamBtn.addEventListener('click', () => {
        const navElementsContainer = document.querySelector('.navbar')
        if (navElementsContainer.style.left == '-250px' || navElementsContainer.style.left == '') {
            navElementsContainer.style.left = '0px'
            hamBtn.childNodes[0].classList.remove('fa-bars')
            hamBtn.childNodes[0].classList.add('fa-xmark')
        } else {
            navElementsContainer.style.left = '-250px'
            hamBtn.childNodes[0].classList.remove('fa-xmark')
            hamBtn.childNodes[0].classList.add('fa-bars')
        }
    })

    const searchToggleBtn = document.querySelector('.search-toggle-btn')
    const searchBar = document.querySelector('.searchBar')

    searchToggleBtn.addEventListener('click', () => {
        if (searchBar.style.display == 'none' || searchBar.style.display == '') {
            searchBar.style.display = 'flex'

        } else {
            searchBar.style.display = 'none'

        }
    })

    window.addEventListener('resize', ()=>{
        if (window.innerWidth >= 1200){
            searchBar.style.display = 'flex'
        }
        else{
            searchBar.style.display = 'none'
        }
    })


</script>