<div class="sidebar">
    <div>
        <h3>Availability</h3>
        <form method="GET" action='' id="stockForm">
            <button id="s1" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="In Stock">In Stock</button>
            <button id="s2" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="Pre Order">Pre Order</button>
            <button id="s3" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="Up Coming">Up Coming</button>
        </form>
    </div>      
    <div>
        <h3>Processor Type</h3>
        <form method="get" id="processorForm">
            <button id="p0" class="sidebarBtns processorBtns"><input value="intel" name="processor" type="checkbox">Intel</button>
            <button id="p1" class="sidebarBtns processorBtns"><input value="amd" name="processor" type="checkbox">AMD</button>
        </form>
    </div>

    <div>
        <h3>Generation</h3>
        <form method="get" id="generationForm">
            <button id="g0" class="sidebarBtns processorBtns"><input value="intel 10th Gen" name="generation" type="checkbox">Intel 10th Gen</button>
            <button id="g1" class="sidebarBtns processorBtns"><input value="Intel 12th Gen" name="generation" type="checkbox">Intel 11th Gen</button>
            <button id="g2" class="sidebarBtns processorBtns"><input value="intel 12th Gen" name="generation" type="checkbox">Intel 12th Gen</button>
            <button id="g3" class="sidebarBtns processorBtns"><input value="Intel 13th Gen" name="generation" type="checkbox">Intel 13th Gen</button>
            <button id="g4" class="sidebarBtns processorBtns"><input value="Ryzen 3000 Series" name="generation" type="checkbox">Ryzen 3000 Series</button>
            <button id="g5" class="sidebarBtns processorBtns"><input value="Ryzen 4000 Series" name="generation" type="checkbox">Ryzen 4000 Series</button>
            <button id="g6" class="sidebarBtns processorBtns"><input value="Ryzen 5000 Series" name="generation" type="checkbox">Ryzen 5000 Series</button>
            <button id="g7" class="sidebarBtns processorBtns"><input value="Ryzen 6000 Series" name="generation" type="checkbox">Ryzen 6000 Series</button>
            <button id="g8" class="sidebarBtns processorBtns"><input value="Ryzen 7000 Series" name="generation" type="checkbox">Ryzen 7000 Series</button>
        </form>
    </div>

    <div>
        <h3>RAM</h3>
        
            <form>
                <button id="r1" class="sidebarBtns ramBtns"><input name="ram" value="4 GB" type="checkbox">4 GB</button>
                <button id="r2" class="sidebarBtns ramBtns"><input name="ram" value="8 GB" type="checkbox">8 GB</button>
                <button id="r3" class="sidebarBtns ramBtns"><input name="ram" value="16 GB" type="checkbox">16 GB</button>

            </form>  

    </div>
    <div>
        <h3>SSD</h3>
            <form>
                <button id="ss1" class="sidebarBtns ssdBtns"><input name="ssd" value="128 GB" type="checkbox">Up to 128GB</button>
                <button id="ss2" class="sidebarBtns ssdBtns"><input name="ssd" value="256 GB" type="checkbox">Up to 256GB</button>
                <button id="ss3" class="sidebarBtns ssdBtns"><input name="ssd" value="512 GB" type="checkbox">Up to 512GB</button>
                <button id="ss4" class="sidebarBtns ssdBtns"><input name="ssd" value="1TB & Above" type="checkbox">Up to 1TB & Above</button>
                
            </form>
    </div>


    <div>
    <h3>Graphics</h3>
            <form>
                <button id="g1" class="sidebarBtns graphicsBtns"><input value="shared" name="graphics" type="checkbox">Shared / Integrated</button>
                <button id="g2" class="sidebarBtns graphicsBtns"><input value="2 GB" name="graphics" type="checkbox">Dedicated 2GB</button>
                <button id="g3" class="sidebarBtns graphicsBtns"><input value="4 GB" name="graphics" type="checkbox">Dedicated 4GB</button>
                <button id="g4" class="sidebarBtns graphicsBtns"><input value="6 GB" name="graphics" type="checkbox">Dedicated 6GB</button>
                <button id="g5" class="sidebarBtns graphicsBtns"><input value="8 GB" name="graphics" type="checkbox">Dedicated 8GB</button>
                <button id="g6" class="sidebarBtns graphicsBtns"><input value="12 GB" name="graphics" type="checkbox">Dedicated 12GB</button>
                <button id="g7" class="sidebarBtns graphicsBtns"><input value="16 GB" name="graphics" type="checkbox">Dedicated 16GB</button>
                <button id="g8" class="sidebarBtns graphicsBtns"><input value="24 GB" name="graphics" type="checkbox">Dedicated 24GB</button>
                
            </form>

    </div>

</div>