<div class="sidebar">
   
    <div>
        <h3>Availability</h3>
        <form method="get" action="" id="sidebarForm">
            <div id="s1" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="s1">In Stock</div>
            <div id="s2" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="s2">Pre Order</div>
            <div id="s3" class="sidebarBtns stockBtns"><input type="checkbox" name='stock' value="s3">Up Coming</div>
        </form>
    </div>      
    
</div>